.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;

  &__container {
    @media (max-width: 767px) {
      text-align: center;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @media (min-width: 1200px) {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  &__wrapper-for-address-and-socials {
    @media (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
    }
    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;
      margin-right: 93px;
    }
  }

  &__container-address {
    @media (max-width: 1199px) {
      margin-bottom: 60px;
      text-align: center;
    }
  }

  &__logo {
    margin-bottom: 20px;

    color: #ffffff;
  }

  &__container-socials {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    @media (max-width: 1199px) {
      margin-bottom: 60px;

      text-align: center;
    }
  }

  &__container-form {
    @media (min-width: 768px) and (max-width: 1199px) {
      width: 450px;
      align-self: center;
      text-align: center;
    }
    @media (min-width: 1200px) {
      width: 100%;
    }
    // margin-left: 93px;
    // text-align: center;
  }
}
